{% extends 'index.html' %}

{% block body %}
<header class="container mt-5">
    <h1 class="text-center">About Text Analyzer</h1>
</header>


<section class="container mt-4">
    <h2>Who We Are</h2>
    <p>
        Hi, I'm Tanush, a 12-year-old boy, and I'm passionate about helping people with my Text Analyzer tool!
    </p>
</section>

<section class="container mt-4">
    <h2>What We Do</h2>
    <p>
        Our Text Analyzer is a simple tool that allows you to analyze text in various ways. You can count words, characters, find the most frequent words, and more!
    </p>
</section>

<section class="container mt-4">
    <h2>Contact Us</h2>
    <p>
        You can reach out to us at tanushparker@gmail.com for any questions or feedback. We'd love to hear from you!
    </p>
</section>
<footer class="container mt-5">
    &copy; 2023 Text Analyzer
</footer>
{% endblock body %}
    
